@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  /* scrollbar-gutter: stable; */
}
header {
  /* overflow-x: hidden; */
  padding-left: calc(100vw - 100%);
  transition: all 300 ease-in-out;
}

.burger-icon {
  position: fixed;
  right: calc(1.5rem - calc(100vw - 100%));
  transition: all 500 ease-in-out;
}

.tile {
  @apply w-full h-full cursor-pointer rounded transition-all;
}

.tile:hover {
  @apply hover:shadow hover:shadow-violet;
  transform: scale(1.03);
}

.face {
  @apply h-full w-full;
}

.service-icon {
  border-radius: 8px;
  @apply w-16 h-16 relative z-10 p-2 min-w-[4rem];
}
