.vacancy_card {
  @apply bg-white rounded-lg h-max w-32 flex flex-col p-3 pb-7 justify-center items-center gap-5;

  h3 {
    @apply text-neutral-800 text-2xl font-bold text-center;
  }

  p {
    @apply text-neutral-900 text-sm text-center;
  }

  button {
    @apply bg-lime rounded-md w-full p-2 text-black outline-lime outline-2 outline-offset-2 hover:shadow-lime;
  }
}

.vacancy_bullet {
  @apply h-20 w-20 rounded-md bg-neutral-900 text-neutral-500 text-xl uppercase flex items-center justify-center;
  @apply hover:cursor-pointer hover:shadow-neutral-950 hover:shadow-lg disabled:cursor-not-allowed;

  &__active {
    @apply bg-neutral-50 text-neutral-950;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
    @apply shadow-lg shadow-neutral-700;

  }

  100% {
    transform: scale(1);
  }
}

.apply-btn {
  @apply mb-6 md:w-64 md:self-end rounded-xl text-center bg-neutral-100 text-black transition-all uppercase text-xl md:text-3xl md:p-4 p-3 flex-1;
  @apply hover:bg-lime hover:scale-105 hover:shadow-md hover:shadow-[#8abd00] hover:font-semibold;

  animation: pulse 1s infinite;
  /* Apply the pulse animation */

}